<header>
  <img src="assets/logo.png" alt="Weather Shelter Finder Logo" class="app-logo" />
  <h1><b>HearWaySight</b></h1>
</header>

<body>

    <main>
        <section class="intro">
            <h2>Find Nearby Weather Shelters</h2>
            <p>Use this application to locate weather shelters in your vicinity during adverse weather conditions.</p>
        </section>
    </main>

    <div class="content">
        <div class="emergency-btn-container">
            <a href="tel:9014467847" class="emergency-btn" aria-label="Call Emergency 911">
                🚨 Emergency Call 911
            </a>
            <a href="tel:9014467847" class="home-btn" aria-label="Call Home">
                🏠 Call Home
            </a>
            <button class="shelter-btn" aria-label="Find Near My Shelter">
                🏨 Find Near My Shelter
            </button>
        </div>
        <app-weather></app-weather>
    </div>
    <footer>
        <p>Mainly this project is created for the blind and visually impaired individuals.</p>
        <p>This project is created for finding weather shelters in your current location mainly during adverse weather
            conditions.</p>
    </footer>

</body>