<body>

    <header>
        <h1>Weather Shelter Finder</h1>
    </header>

    <main>
        <section>
            <h2>Find Nearby Weather Shelters</h2>
            <p>Use this application to locate weather shelters in your vicinity during adverse weather conditions.</p>
        </section>
    </main>
    <div class="content">
        <app-weather></app-weather>
    </div>
    <footer>
        <p>Mainly this project is created for the blind and visually impaired individuals.</p>
        <p>This project is created for finding weather shelters in your current location mainly during adverse weather
            conditions.</p>
    </footer>

</body>